*
{
	padding: 0;
	margin: 0;
	box-sizing:border-box;

}
.navbar-brand
{
	font-size: 2rem;
	color: black;
	font-family: Gloria Hallelujah;


}
.navbar-brand:hover
{
	color: black;
}
.nav-link
{
	margin-right: 10px;
	margin-left: 10px;
	color: black;
	text-transform: uppercase;
	font-family:'Rubik',sans-serif;

}
.nav-link:hover
{
	color: black;
}
.search
{
	height: 40px;
	width: 80%;
	border-radius: 60px;
	outline: none;
	margin-right: -35px;
	font-family:'Rubik',sans-serif;
	border: 2px solid rgb(248, 26, 92);

}

.btn0

{
	height: 40px;
	width: 40%;
	outline: none;
	border: none;
	background: rgb(248, 26, 92);
	color: white;
	border-radius: 60px;
	font-weight: 700;
}

button
{
	width: 150px;
	height:40px;
	background-color:rgb(248, 26, 92) ;
	color: white;
	text-transform: uppercase;
	border-radius: 60px;

}
.main h1
{
   font-size: 4rem;
   font-weight: 700;
}
.card:hover
{
	box-shadow: 1px 4px 6px 7px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 4px 6px 7px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 6px 7px rgba(0,0,0,0.75);
}