*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
ul
{
	display: flex;
	float:right;
	margin-right: 100px;
	color: #fff;
}
ul li
{
	list-style: none;
	text-transform: uppercase;
	width: 130px;
	margin:15px;
	padding:15px; 
	padding-left: 10px;
	margin-left: -10px;
	/*letter-spacing: 1px;*/


}
ul li a
{
	text-decoration: none;
	color:#fff;

}
body
{
	background-image: url(image/tree1.jpg);
    background-size:100% 100VH;
    background-position:center;
    width: 100%;
    height: 100VH;
    
 
}
.menu-bar
{
	background: rgb(0,100,0);
	width: 100%;
	height: 80px;
}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
}
.menu-bar .fa
{
	position-right:5px;

}
.sub-menu-1
{
	display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul

{
	display: block;
	margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted pink;
	background: transparent;
	border-radius: 0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: #b2ff00;
}
.fa-angle-right
{
	float: right;
}
.sub-menu-2
{
	display: none;
}
.hover-me:hover .sub-menu-2
{
	position: absolute;
	display: block;
	margin-top: -40px;
	margin-left: 140px;
	background-color: rgba(0,100,0);
}
