*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background-color:#333333;


}
.card
{
	position: absolute;
	width: 350px;
	height: 190px;
	background:black;
	box-shadow: 0 35px 80px rgba(0,0,0,0.15);
	transition: 0.5s;
	margin-top: 120px;
}
.card:hover
{
	height: 450px;
}
.imgbox
{	
	
	position: absolute;
	width: 150px; 
	height: 150px;
	inset:0;
	background:black;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);
	box-shadow: 0 15px 50px rgba(0,0,0,0.35);
	overflow: hidden;
	transition: 0.5s;
	/*z-index: 10;*/


}
.card:hover .imgbox
{
	width: 250px;
	height: 250px;
}
.imgbox img
{
	position: absolute;
	top: 4px;
	left: 3.5px;
	/*z-index: 1;*/
	width: 96%;
	height: 96%;
	object-fit:cover;
	/*filter: grayscale(1);*/
}
.card .content
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:flex-end;
	overflow: hidden;
}
.card .content .details
{
	padding: 40px;
	text-align: center;width: 100%;
	transition: 0.5s;
	transform: translateY(150px);

}
.card:hover .content .details
{
	transform: translateY(0px);

}

.card .content .details h2
{
	font-size: 1.25em;
	font-weight: bold;
	color: #45f3ff;
	line-height: 1.2em;
}
.card .content .details  span
{
	font-size: 0.70em;
	font-weight: 500;
	color: white;
}
.card .content .details .data
{
	display: flex;
	justify-content: center;
	margin: 20px 0;

}
.card .content .details .data h3
{
	font-size: 1em;
	color: #45f3ff;
	line-height: 1.2em;
	font-weight: 600;
	margin: 15px;

}
.card .content .details .data h3 span
{
	font-size: 0.85em;
	font-weight: 400;
	color: white,

}
.card .content .details .actionbtn
{
	display: flex;
	justify-content:space-between;
	
}
.card .content .details .actionbtn button
{
	padding: 10px 30px ;
	border-radius: 5px;
	border:none;
	outline: none;
	font-size: 1em;
	font-weight: 500;
	background:#45f3ff;
	color:#222;
	cursor: pointer;
}
.card .content .details .actionbtn button:nth-child(2)
{
	
	color:black;
	background: #45f3ff;


}
.card .lines
{
	position: absolute;
	inset:0;
	overflow: hidden;
}
.card .lines::before
{
	content: "";
	position: absolute;
	top: 25%;
	left: 50%;
	width: 755px;
	height: 140px;
	background: linear-gradient(transparent,#45f3ff,#45f3ff,#45f3ff,transparent);
	animation: animate 4s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100%
	{
		transform: translate(-50%,-50%) rotate(360deg);

	}
}
.card .lines::after
{
	content: "";
	position: absolute;
	inset:3px;
	background:#292929;
}

.card .imgbox::before
{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 150px;
	transform: translate(-50%,-50%);
	background: linear-gradient(transparent,#ff3c7b,#ff3c7b,#ff3c7b,transparent);
	animation: animate2 4s linear infinite;
}
@keyframes animate2
{
	0%
	{
		transform: translate(-50%,-50%) rotate(360deg);
	}
	100%
	{
		transform: translate(-50%,-50%) rotate(0deg);

	}
}
.card .imgbox::after
{
	content: "";
	position: absolute;
	inset:3px;
	
}



