
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
body
{
  line-height: 1.8;
  color: #898fal;
  font-size: 15px;
}
h1,h2,h3,h4,h5,h6
{
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245a;
  
}
.title-sm
{
  font-size: 16px;
  letter-spacing: all 0.4s ease;
}
a 
{
  font-weight: 700;
  transition: all 0.4s ease;

}
small
{
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;

}
img
{
  width: 100%;
}
section
{
  padding-top: 100px;
  padding-bottom: 100px;
}
.nav-item
{
  padding-left: 40px;
}
.nav-link
{
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.nav-item a::hover
{
  color: #e93b81;
  background: red;
}
#home
{
  background: linear-gradient(#11245a ,#11245a);
  background-image: url("image/colan1.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;

}
#home h1
{
  font-weight: 700;
}
#home p
{
  max-width: 550px;
  margin: auto;
}
.btn 
{
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding:12px 28px;
  border-radius: 0;

}
.btn-brand
{
  background: #e93b81;
  color: #fff;
}
.section-intro
{
  text-align: center;
  margin-bottom: 60px;
}
.section-intro .hline
{
  width: 120px;
  height: 2px;
  background:lightgray; 
  margin:16px auto 0 auto;
}
.icon-box
{
  width: 60px;
  height: 60px;
  background: #e93b81;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  flex: none;
}
.portfolio-item
{
  overflow: hidden;
  position:relative;
}
.portfolio-item img,
.portfolio-item .portfolio-overlay
{
  transition: all 0.4s ease;
}
 .portfolio-overlay
 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(17, 36, 90,0.8);
  display: flex;
  align-items: flex-end;
  padding: 30px;
  opacity: 0;

 }
 .portfolio-overlay h3, h6
 {
      color: #fff;

 }
 
 
.portfolio-item:hover .portfolio-overlay
{
    opacity: 1;

}
.portfolio-item:hover img
{
  transform: scale(1.1);

}
.portfolio-item
{
  height: 400px;
  width: 400px;
}
.feature .icon-box
{
  width: 34px;
  height: 34px;
  border-radius: 100px;
  font-size: 24px;
}
.team-member
{
  background: #11245a;
  width: 350px;
  height: 350px;
}
.team-member .hline
{
  width: 70px;
  height: 2px;
  margin: 16px auto;
  background: #fff;
}
.team-member .team-member-img img,
.team-member .team-member-img .social-icons
{
  transition: all 0.4s ease;
}
.team-member .team-member-img 
{
  position: relative;
  overflow: hidden;
}
#team 
{
  padding: 0;

}


.team-member .team-member-img .social-icons
{
  width: 100%;
  height: 60px;
  background: #e93b81;
  bottom: -60px;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-member .team-member-img .social-icons a 
{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content:center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 24px;
  color: #fff;
  border-radius: 100%;
  margin-left: 4px;
  margin-right: 4px;
}
.team-member .team-member-img .social-icons a:hover
{
    background: #fff;
    color: #e93b81;
}
.team-member:hover .team-member-img .social-icons
{
    bottom:0px;
}
.team-member:hover img 
{
  transform: translateY(-60px);
}
.team-member.even
{
  background: #162e6e;
}
.review .stars
{
  color: #e93b81;
}
.review p
{
  max-width: 720px;
  margin: 24px auto;
  font-style:italic;
}
.testimonials img 
{
  width: 65px;
  height: 65px;
  border-radius: 100%;
  transition:.5s;
}
.testimonials .nav-pills .nav-link.active
{
  background: transparent;
}
.testimonials .nav-pills .nav-link.active img
{
  transform: scale(1.3);
}
#clients img 
{
  height: 40px;
}
form .form-control
{
  border-radius: 0;
}

form .form-control:focus
{
  box-shadow: none;
  border-color: #e93b81;
}
#cta
{
  background: #e93b81;
}

.footer-top
{
  padding-top: 80px;
  padding-bottom: 30px;
}
.footer-bottom
{
   padding-top: 30px;
   padding-bottom: 30px;
   border-top: 1px solid rgba(0, 0, 0,0.1);
}
footer .footer-links a,
footer .social-icons a 
{
  color: #898fa1;
}
footer .social-icons a:hover,
footer .footer-links a:hover
{
    color: #e93b81;
}

footer .social-icons a 
{
  font-size: 24px;
}
footer .footer-links a
{
  display: block;
  font-weight: 400;
}
@media only screen and (max-width: 768px)
 {

  .nav-item {
               text-align: center;
       }
       .row
       {
        width: 100%;
       }
       

        section
          {
            padding-top: 20px;
            padding-bottom:20px;
          }
         
         .portfolio-overlay
         {
          width: 300px;
          height: 300px;
          position: relative;
         }
         .team-member 
         {
          margin-top: 20px;
         }
         .ok1
         {
          height: 400px;
          width: 400px;
         }
         .ok1 img 
         {
             height: 400px;
          width: 400px;
         }

      
}