*
{
	padding: 0;
	margin: 0;
	/*box-sizing: border-box;*/
	text-decoration: none;
	list-style: none;
}
nav
{
	background:black;
    height: 80px;
    width: 100%;
    position:fixed;
    z-index: 1;
}
label.logo
{
	/*color: white;*/
	position: relative;
	/*background-color: #252839;*/
	font-size:35px;
	color: white;
	line-height: 80px;
	padding: 0 50px;
	font-weight: bolo;
	margin-left: 50px;
	font-weight: bold;
	-webkit-text-stroke: 0.2vw white;
	letter-spacing: 5px;
	text-transform: uppercase;

}
.row
{
	display: flex;
	
}
.card
{
	flex-basis: 30%;
    padding-left: 20px;
    margin-left: 10px;
}
.card p
{
	color: black;
}
.about
{
	margin:auto;
	position: absolute;
	top: 110%;
	left: 10%;

}
label.logo::before
{
	content: attr(data-text);
	position: absolute;
	/*top: 0;*/
	/*left: 0;*/
	width: 0;
	height: 100%;
	color: #C70039;
	-webkit-text-stroke:0vw #383d52;
	border-right: 2px solid #C70039 ;
	overflow: hidden;
	animation: animatelogo 5s linear infinite;

}
@keyframes animatelogo
  {
  	0%,100%
  	{
  		width: 0;
  	}

  	70%,90%
  	{
  		width: 100%;
  	}
  }
nav ul 
{
	float: right;
	margin-right: 300px;
}
nav ul li  

{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;


}
nav ul li a 
{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 7px 13px;
	border-radius: 3px;
}
a.active,a:hover
{
     background: #ab0338;
     color: red;
     transition: .5s;
}
ul li a:hover
{
	color: white;
}

.checkbtn
{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check 
{
	display: none;
}

.top
{
	margin-top: 300px;
	position: absolute;
	margin-left: 95px;

}
.audio
{
	font-size: 70px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 5px;
	color: transparent;
	-webkit-text-stroke:1px #fff;
	background-image: url("images/back.png");
	-webkit-background-clip:text;
	background-position: 0 0;
	animation:back 20s linear infinite;


    font-weight: 800;
}
@keyframes back 
{
	100%{
	background-position: 2000px 0;

	}
}
p
{
	color: white;
}
button
{
	width: 150px;
	height: 40px;
	background-color: #C70039;
	color: white;
	border-style: none;
	border-radius: 30px;
}
button:hover
{
	background-color: white;
	color: black;
	border-radius: 20px;
	transition: .5s;
}

.content
{
	height:100vh;
	width: 100%;
	background-image: url("images/SLIDE1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 5s;



	animation-name: animate;
	animation-direction: alternate-reverse;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}


@keyframes animate{
	0%{
		background-image: url(images/SLIDE1.jpg);
	}
	20%{
		background-image: url(images/SLIDE2.jpg);
	}40%{
		background-image: url(images/SLIDE3.jpg);
	}60%{
		background-image: url(images/SLIDE1.jpg);
	}
}


@media (max-width: 952px)
{
	label.logo
	{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a 
	{
		font-size: 16px;
	}
}
@media screen and (max-width: 858px)
{
	.checkbtn{
		display: block;
		margin-top: 20px;
		color: white;
	}
@media screen and (max-width:550px)
{
	.audio
	{
      color: white;
	}
    nav
    {
    	width: 100%;
    }
    .card
     {
	   flex-basis: 100%;
      /*padding-left: 20px;*/
      margin:auto;
     }
     .content
    {
	height:50vh;
	width: 100%;
    }
}

	
	.top{
		z-index: -2;
	}
	ul
	{
		position: fixed;
		width: 100%;
		height: 100vh;
		background:#2c3e50;
		top: 80px;
		left: -100%;
		transition: all .5s;
		text-align: center;
	
	}
	nav ul li 
	{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a 
	{
		font-size: 20px;

	}
	a:hover,a.active
	{
		background: none;
		color:white;
	}
	#check:checked ~ ul
	{
		left: 0;
	}
}
